
BasicGit59/BasicGit59/obj/Debug/netcoreapp3.1/BasicGit59.genruntimeconfig.cache
BasicGit59/BasicGit59/obj/Debug/netcoreapp3.1/BasicGit59.pdb
BasicGit59/BasicGit59/obj/Debug/netcoreapp3.1/BasicGit59.dll
BasicGit59/BasicGit59/obj/Debug/netcoreapp3.1/BasicGit59.csproj.FileListAbsolute.txt
BasicGit59/BasicGit59/obj/Debug/netcoreapp3.1/BasicGit59.csproj.CoreCompileInputs.cache
BasicGit59/BasicGit59/obj/Debug/netcoreapp3.1/apphost.exe
BasicGit59/BasicGit59/bin/Debug/netcoreapp3.1/BasicGit59.runtimeconfig.json
BasicGit59/BasicGit59/bin/Debug/netcoreapp3.1/BasicGit59.runtimeconfig.dev.json
BasicGit59/BasicGit59/bin/Debug/netcoreapp3.1/BasicGit59.pdb
BasicGit59/BasicGit59/bin/Debug/netcoreapp3.1/BasicGit59.exe
BasicGit59/BasicGit59/bin/Debug/netcoreapp3.1/BasicGit59.dll
BasicGit59/BasicGit59/bin/Debug/netcoreapp3.1/BasicGit59.deps.json
BasicGit59/.vs/BasicGit59/v16/.suo
BasicGit59/.vs/BasicGit59/v16/.suo
